body {
  color: rgb(66,66,66);
}
h1,h2,h3,h4,h5,h6 {
  color: rgb(44,44,44);
}
a {
  color: rgb(42,93,173);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  padding-left: 16.875px;
  border-left: 6px solid lightgray;
  margin-left: 10.875px;
  margin-right: 0;
  padding-right: 0;
}
