/** 
 * Variables
 */

// Colors
$color-base: #222;
$color-primary: #8F3DDB;
$color-secondary: #f091c5;

$color-white: #FFF;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family-heading: 'IBM Plex Serif', serif;
$typographic-font-family-body: 'IBM Plex Sans', sans-serif;
$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;


// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
