@import "../../assets/scss/variables";

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.author {
  text-align: center;
  font-size: 1.3rem;
  margin-top: .8rem;
  font-weight: 100;
}

.bio {
  font-size: .9rem;
  text-align: center;
  font-family: $typographic-font-family-heading;
  font-weight: 100;
  margin-bottom: 1.5rem;
}